.container2 {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

#carrousel{
    position: relative;
}

#carrousel ul li{
    position: relative;
    list-style: none;
}

button {
  color: black;
  border-radius: 50% !important;
}
