<div id="modal" class="offset-lg-3 col-lg-6">
 <button type="button" class="close" data-dismiss="modal">x</button>
 <div class="btn-card">
     <span id="login_tab">LOGIN</span>
     <span id="signup_tab">SIGN UP</span>
 </div>
 <div class="text-card">
     <div><%= render partial: "layouts/login"%></div>
     <div><%= render partial: "layouts/signup"%></div>
 </div>
</div>
