<div id="signup_modal" class="offset-lg-3 col-lg-6">
    <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="GEwUj8TwcPFMrfxxAYLMuygU3y563xj1jsVQ2+N5/UcadM621fw++a7Zot6B4KTpYycbGqgj0wA6sEAOgqX2cQ==">


      <div class="field">
        <label for="user_email">Email</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
      </div>

      <div class="field">
        <label for="user_password">Password</label>
        <em>(6 characters minimum)</em>
        <br>
        <input autocomplete="new-password" type="password" name="user[password]" id="user_password">
      </div>

      <div class="field">
        <label for="user_password_confirmation">Password confirmation</label><br>
        <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
      </div>
    </form>
</div>
